@import "tailwindcss";
@plugin "daisyui";

* {
  background-image: url("src/assets/star wars fond.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}
