@import "tailwindcss";
@plugin "daisyui";

body {
  background-image: url("./assets/star-wars-fond.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.merde,
.oui,
.non,
.help {
  margin-top: 0.75rem;
}

.enfin {
  padding: 1.5rem;
}
